/* General Stylings */

body {
  background-color: #fdfdff;
  color: #393d3f;
  height: 100%;
  position: relative;
  /* top: -21px; */
}

body {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

/* Header Styling */
header {
  background-color: #c6c5b9;
  padding: 5px;
}

h1 {
  padding-left: 15px;
}

/* add book section */
.addBookSection {
  display: flex;
  flex-wrap: wrap;
}

.addBook {
  padding: 15px 30px;
  font-size: 24px;
}

.deleteBook,
.submitPopUp {
  padding: 10px 20px;
}

.addBook,
.submitPopUp,
.deleteBook {
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fdfdff;
  background-color: #62929e;
  color: #393d3f;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.addBook::before,
.submitPopUp::before,
.deleteBook::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.addBook:hover,
.submitPopUp:hover,
.deleteBook:hover {
  background-color: #62929e;
  color: #fff;
  border-bottom: 4px solid darken(#62929e, 10%);
}

.addBook:hover::before,
.submitPopUp:hover::before,
.deleteBook:hover::before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
.addBook:active,
.submitPopUp:active,
.deleteBook:active {
  background-color: #546a7b;
}

/* popUpForm styling applied to both add and change book */
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(57, 61, 63, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: #fdfdff;
  height: 600px;
  width: 500px;
  position: relative;
}

.formContainer h2 {
  text-align: center;
}

.popUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

.inputContainer input {
  width: 60%;
}

.popUpForm button {
  position: absolute;
  bottom: 10px;
}

.closePopUp {
  position: absolute;
  right: 0px;
  top: 0px;
}

/* Change book popup specific styling */
.descriptionContainer {
  width: 90%;
  margin: 0 auto;
}

.categoryTitle {
  border-bottom: 1px solid black;
}

/* Listed book styling */
.bookContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
}

.book {
  width: calc((100% / 3) - 30px);
  margin: 0 15px;
  list-style: none;
  text-align: center;
}

.book div {
  background-color: #78a1bb;
  border-radius: 8px;
  padding: 15px 0px;
}

.book div:hover,
.book div:focus {
  background-color: #537081;
  cursor: pointer;
  color: #fdfdff;
}
